<div id="goat_mail">
	<%= image_tag 'logo.png', :id => 'goats_logo' %>

	<h1 id="thanks">Thanks.</h1>
	
	<%= image_tag 'goat.png', :id => 'goat_on_leash' %>
	<%= image_tag 'shelby_logo.png', :id => 'shelby_logo' %>
	<%= image_tag 'trex.png', :id => 'trex' %>
</div>