<div id="container">
	<!-- Welcome Div -->
	<div id="main-welcome">
		<pre>
                                                                      `...
      `------.          -/////:          /+++++++.            `-/oydmMMMMNy  yN:                 hM+
      /sssssss .:::::-. /ssssss. :////:- /+++++++.        `-ohNmyoydhs+:.    yMs                /MM-   ym+
      +sssssss +ssssss+ /ssssss-.hhhhhhs ++++++++.       /dNh/.   .          yMy                yMd    dMo
      +sssssss sssssss/ -/+++++`.hhhhhhy ////////.      /MN:                 hMs                NM+    mM:                      `/:
      .::::--. ossssss:  :.      yyyyyyo`--::--`        :Md                  dM+               .MM.    MM-                      mMh
      -//////. `......` -Nms-  `::::::. /hhhhhh:         /ms-`               mM-`.`      `--.  oMm    .MM`                     :MM-
      +ssssss: /+++++-  +MMMNs .++++++: ohhhhhh:          .+yyso/-.`         NMydNm-    +mNyN+ hMy    :MN            .-.      `sMm...`        `
      ossssss/`ssssss/  /MMmh/ .++++++: +hhhhhy-             `-:+syyys/-    `MMNoMM+   +MN:/No mMo    oMm//:`   `ys- yMN/   `shNMNys+` `    .yd
      :oooo++- osssss/  .y/.   `::::::. `.---..`                   `.:odh-  :MN: NM/ -hNMmmd/  mMo    yMMNymmo` +MMs oMM/    `.hMy    -dh  :mN+
       ://///- ://///-  `````    `....`  `......`                     `yMm  dMo `MM: `dMNy/`   NMy   `NMM+ -MMs sMM/-dMM.      sMh    sMM`+NN/
      `ssssss+ oyyyyyy `//////:  syhhhy/ `......`   -`            `-/ymNd: /MM. `NMs` :Mm.```` mMm   :MMd  .NMd +MMmNMMd       .NM/-+:/MMdMd-
      .ssssss+ yhhhhhh``++++++:  hhhhhh/ `......`   ./osyyssssyyhddhhs/.`  sMm   :so.  ommdhs- sMM+. -yhoohmmy.  /so+MMs  :hy   -yddy. :ss:`
      `++++++: hhhhhhh``++++++:  yyhhhh.  `````        `..--::--..``       `:.          `.``   `+hhs `--:-..`       /MM/   ``     ``
               .::::--  `.....`  ``````                                                                             sMM`
                                                                                                                    dMh
                                                                                                                    NN-
                                                                                                                    o.                                                                                                                    
		</pre>

		<div id="press-enter">
			<p>[Press Enter]</p>
		</div>

	</div>
	
	<!-- Terminal Div -->
	<div id="main"></div>

</div>