<!DOCTYPE html>
<html>
<head>
	<title>G.O.A.T.S.</title>

	<meta content='chrome=1' http-equiv='X-UA-Compatible'>
	<meta content='Project G.O.A.T.S. will blow your mind.' name='description'>

	<%= stylesheet_link_tag    "application" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>